
@font-face {
  font-family: 'Courier Prime Code Regular';
  src: local('Courier Prime Code Regular'), url(./assets/Courier-Prime-Code.ttf) format('truetype');
}

/*
.box{
  border: black dotted 1px;
}
*/
.App{
  background-color: #d5e8fb;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  color: gray;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.App-logo{
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.App-logo-text{
  color: #70163d;
  font-size: 850%;
  font-family: 'Courier Prime Code Regular';
}

.wip{
  justify-self: center;
  align-self: flex-end;
}
